body {
	font-family: 'Almendra';
	text-align: center;
	/*color: #ffd700;*/
	color: black;
	background-color: #9C3300;
	background-image: url('../images/pool_table.png');
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	margin: 0px;
}
h1, h2, h3 {
	margin: 0px;
}
table {
	width: 31%;
	height: 100%;
	display: inline;
	background-image: url('../images/poster.png');
	background-size: 100% 100%;
	vertical-align: top;
	clear: both;
	padding: 0 15px 50px 15px;
	margin: 0 10px;
	border-spacing: 0px;
}
table th {
	font-size: 1.3em;
}
table td {
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: 1px solid black;
}
table tr {
	
}
#TableContainer {
	margin: 0 auto 0 auto;
	width: 100%;
	height: 72%;
	overflow-y: hidden; 
}
#leaderboard {
					
}
#hall_of_fame {
	text-align: center;									
}
#hall_of_fame td {
	border-bottom: 0;
}
#events {
	
}
#Start {
	font-family: tahoma;
	position: absolute;	
	width: 99%;
	text-align: center;
	bottom: 5px;
}
.rightAlign {
	text-align: right;
}
.leftAlign {
	text-align: left;
}
.leftPadding {
	padding-left: 20px;
}
.blink {
  animation: blinker 2s linear infinite;
}
.biggerFont {
	font-size: 1.3em;
}
.gold {
	color: #ffd700;
}
.silver {
	color: #838997;
}
.bronze {
	color: #CD7E32;	
}
.shadow {
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}